@media only screen and (max-width : 768px) {
    .inicio {
        p {
            a {
                font-size: 70px;
            }
        }
    }
}
@media only screen and (max-width : 426px) {
    .inicio {
        p {
            a {
                font-size: 60px;
            }
        }
    }
}
@media only screen and (max-width : 320px) {
    .inicio {
        p {
            a {
                font-size: 50px;
            }
        }
    }
}