@import '../../individuales/colores.scss';

@media only screen and (max-width : 425px) {
    header {
        nav {
            .navegacion {
                flex-direction: column;
                display: none;
                animation: display 1.5s ease-in-out;
            }
        }
        .menu-btn {
            position: absolute;
            right: 10px;
            top: 10px;
            width: 50px;
            height: 30px;
            animation: my-blur 1.5s ease-in-out;
            &:hover > span {
                background: $light-purple;
            }
            span {
                display: block;
                width: 40px;
                height: 5px;
                margin: 2.5px auto;
                background: $purple;
            }
        }
    }
}