@import 'individuales/generales.scss';
@import 'individuales/bienvenida.scss';
@import 'individuales/auxiliar.scss';
@import 'individuales/animaciones.scss';
@import 'individuales/header.scss';
@import 'individuales/sobre-mi.scss';
@import 'individuales/footer.scss';
@import 'individuales/conocimientos.scss';

@import 'mediaqueries/mediaqueries.scss';