/* Archivo de estilos generales del sitio */
/* Paul irish - box sizing */
html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
* :before, * :after {
  box-sizing: inherit;
}

body {
  background: #f2f2f2;
  background: url("../img/bg-textura.png");
  background-repeat: repeat;
}

@font-face {
  font-family: "nunito-black";
  src: url("../fonts/Nunito-Black.ttf");
}
@font-face {
  font-family: "nunito-regular";
  src: url("../fonts/Nunito-Regular.ttf");
}
@font-face {
  font-family: "nunito-extra-bold";
  src: url("../fonts/Nunito-ExtraBold.ttf");
}
.alto {
  height: 100vh;
  background: #E0BB82;
  animation: abrir ease-in-out 1.5s;
}

a {
  text-decoration: none;
  color: #A86CE0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  font-family: Arial;
  transition: 0.5s ease-in-out;
}
a:hover {
  color: #724E94;
}

.container {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}

.inicio p {
  text-align: center;
  color: #E0BB82;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 90vh;
  animation: abrir ease-in-out 1.5s;
}
.inicio p a {
  line-height: 100vh;
  position: relative;
  animation: mostrar ease-in-out 1.5s;
  font-size: 120px;
  font-family: "nunito-extra-bold";
}

.cerrar {
  background: #E0BB82;
  animation: cerrar ease-in-out 1.5s;
}

.dn {
  display: none;
}

.clearfix {
  clear: both;
}

.mb1 {
  margin-bottom: 3rem !important;
}

@keyframes abrir {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}
@keyframes cerrar {
  0% {
    height: 100vh;
  }
  100% {
    height: 0;
  }
}
@keyframes mostrar {
  0% {
    left: -1500px;
  }
  100% {
    left: 0;
  }
}
@keyframes progress-bar {
  from {
    width: 0;
  }
}
header {
  background: #E0BB82;
}
header nav {
  height: 50px;
}
header nav .navegacion {
  display: flex;
  justify-content: space-around;
}
header nav .navegacion li {
  line-height: 50px;
  list-style: none;
}
header nav .navegacion li a {
  line-height: 50px;
  font-family: "nunito-regular";
}

main {
  margin-top: 50px;
  margin-bottom: 550px;
}
main h1 {
  position: relative;
  margin-left: 500px;
  margin-top: -350px;
  color: #947547;
  text-transform: uppercase;
  font-size: 40px;
  font-family: "nunito-black";
}
main .imagen {
  width: 400px;
  height: 400px;
  box-shadow: 10px 20px 80px #000;
  position: absolute;
}
main .imagen img {
  width: 100%;
  height: 100%;
}
main .about {
  width: 800px;
  background: #5CE089;
  padding: 15px;
  position: relative;
  left: 240px;
  top: 200px;
  z-index: 1;
  box-shadow: 10px 20px 80px #000;
}
main .about p {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: bold;
  color: #947547;
  font-family: "nunito-regular";
}

footer {
  width: 100%;
  height: 200px;
  background: #E0BB82;
}
footer .container {
  height: 200px;
  align-items: center;
  display: flex;
}
footer .container .first {
  width: 45%;
}
footer .container .first p {
  font-size: 24px;
  color: #724E94;
  font-family: "nunito-extra-bold";
}
footer .container .second {
  width: 45%;
  display: flex;
}
footer .container .second .logo {
  width: 100%;
}
footer .container .second .logo svg {
  max-height: 100px;
}

.restart {
  margin-bottom: 0;
}
.restart .conocimientos {
  position: relative;
}
.restart .conocimientos .skills {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  flex-wrap: wrap;
}
.restart .conocimientos .skills .skill {
  width: 30%;
  height: 150px;
  padding: 20px;
  margin-bottom: 50px;
  position: relative;
  display: flex;
}
.restart .conocimientos .skills .skill .name {
  font-family: "nunito-extra-bold";
  font-size: 24px;
  position: relative;
  width: 110px;
  text-align: center;
  color: #5CE089;
  text-transform: uppercase;
  z-index: 1;
}
.restart .conocimientos .skills .skill .value {
  position: relative;
  width: 40px;
  text-align: center;
  color: #5CE089;
  text-transform: uppercase;
  z-index: 1;
  font-family: "nunito-extra-bold";
  font-size: 24px;
}
.restart .conocimientos .skills .skill .percent {
  width: calc(100% - 150px);
  height: 20px;
  margin: 0 10px;
  border-radius: 10px;
  background: #fff;
}
.restart .conocimientos .skills .skill .percent .progress {
  margin-left: -5px;
  width: 95%;
  height: 100%;
  border-radius: 10px;
  background: #fff;
  animation: progress-bar 2s ease-in-out forwards;
  background: linear-gradient(45deg, #5CE089, #E0BB82);
}

.timeline {
  position: relative;
}
.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 0.2rem;
  height: 100%;
  background: #c5c5c5;
}
.timeline ul {
  margin: 0;
  padding: 0;
}
.timeline ul li {
  line-height: normal;
  position: relative;
  width: 50%;
  padding: 2rem 4rem;
  list-style: none;
  box-sizing: border-box;
  clear: both;
}
.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
}
.timeline ul li:nth-child(odd)::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: #724E94;
  border-radius: 50%;
  top: 1.5rem;
  right: -0.6rem;
  box-shadow: 0 0 0 3px rgba(168, 108, 224, 0.2);
}
.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
}
.timeline ul li:nth-child(even)::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: #724E94;
  border-radius: 50%;
  top: 1.5rem;
  left: -0.4rem;
  box-shadow: 0 0 0 3px rgba(168, 108, 224, 0.2);
}
.timeline .content h3 {
  margin: 0;
  padding: 0;
  font-family: "nunito-black";
  text-transform: uppercase;
}
.timeline .content p {
  margin: 10px 0 0;
  padding: 0;
  font-family: "nunito-regular";
}
.timeline li .time h4 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
.timeline li:nth-child(odd) .time {
  position: absolute;
  top: 1.2rem;
  right: -10.5rem;
  margin: 0;
  padding: 0.5rem 0.7rem;
  background: #a86ce0;
  color: #5CE089;
  text-transform: uppercase;
  border-radius: 1.8rem;
  box-shadow: 0 0 0 3px rgba(168, 108, 224, 0.2);
}
.timeline li:nth-child(even) .time {
  position: absolute;
  top: 1.2rem;
  left: -10.5rem;
  margin: 0;
  padding: 0.5rem 0.7rem;
  background: #a86ce0;
  color: #5CE089;
  text-transform: uppercase;
  border-radius: 1.8rem;
  box-shadow: 0 0 0 3px rgba(168, 108, 224, 0.2);
}

@media only screen and (max-width: 768px) {
  .inicio p a {
    font-size: 70px;
  }
}
@media only screen and (max-width: 426px) {
  .inicio p a {
    font-size: 60px;
  }
}
@media only screen and (max-width: 320px) {
  .inicio p a {
    font-size: 50px;
  }
}
@media only screen and (max-width: 426px) {
  header nav .navegacion {
    flex-direction: column;
    display: none;
    animation: display 1.5s ease-in-out;
  }
  header .menu-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 30px;
    animation: my-blur 1.5s ease-in-out;
  }
  header .menu-btn:hover > span {
    background: #A86CE0;
  }
  header .menu-btn span {
    display: block;
    width: 40px;
    height: 5px;
    margin: 2.5px auto;
    background: #724E94;
  }
}
@media only screen and (max-width: 1024px) {
  main .about {
    width: 630px;
  }
  main h1 {
    margin-top: -420px;
  }
}
@media only screen and (max-width: 768px) {
  main {
    margin-bottom: 25px;
  }
  main .container {
    display: flex;
    flex-direction: column;
  }
  main .container .imagen {
    position: inherit;
    width: 300px;
    height: 300px;
    box-shadow: none;
    order: 2;
    margin: 15px auto;
  }
  main .container .about {
    position: inherit;
    box-shadow: none;
    order: 3;
    margin: 0 auto;
  }
  main .container .about p {
    font-size: 20px;
  }
  main .container h1 {
    position: inherit;
    margin-top: inherit;
    margin-left: 0;
    order: 1;
    text-align: center;
  }
}
@media only screen and (max-width: 426px) {
  main {
    margin-top: 20px;
  }
  main .imagen {
    width: 200px;
    height: 200px;
  }
  main .about {
    width: 360px;
  }
  main .about p {
    font-size: 15px !important;
  }
  main h1 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 376px) {
  main .imagen {
    width: 200px !important;
    height: 200px !important;
  }
  main .imagen img {
    width: 200px !important;
    height: 200px !important;
  }
  main .about {
    width: 250px;
  }
  main .about p {
    font-size: 13px !important;
  }
  main h1 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  footer .container {
    flex-direction: column-reverse;
    justify-content: space-around;
  }
  footer .container .first {
    width: 100%;
    height: 40px;
    text-align: center;
  }
  footer .container .second {
    width: 100%;
    height: 80px;
    margin-bottom: -50px;
  }
  footer .container .second .logo svg {
    max-height: 80px;
  }
}
@media only screen and (max-width: 426px) {
  footer .container .first {
    width: 100%;
    height: 20px;
    text-align: center;
  }
  footer .container .first p {
    font-size: 15px;
  }
  footer .container .second {
    width: 100%;
    height: 20px;
  }
  footer .container .second .logo svg {
    max-height: 40px;
  }
}
@media only screen and (max-width: 1024px) {
  .restart .conocimientos .skills {
    text-align: center;
  }
  .restart .conocimientos .skills .skill {
    height: auto;
    flex-direction: column;
    width: 100%;
  }
  .restart .conocimientos .skills .skill .name, .restart .conocimientos .skills .skill .value {
    text-align: center;
    width: 100%;
  }
  .restart .conocimientos .skills .skill .percent {
    width: 100%;
    margin: 15px 0;
  }
}

/*# sourceMappingURL=styles.css.map */
