@keyframes abrir {
	0% {
		height: 0;
	}
	100% {
		height: 100vh;
	}
}
@keyframes cerrar {
	0% {
		height: 100vh;
	}
	100% {
		height: 0;
	}
}
@keyframes mostrar {
	0% {
		left: -1500px;
	}
	100% {
		left: 0;
	}
}