/* Archivo de estilos generales del sitio */
/* Paul irish - box sizing */
@import './colores.scss';
html {
    box-sizing: border-box;
}
*{
    margin: 0;
	padding: 0;
    :before, :after {
        box-sizing: inherit;
    }
}
body {
    background: #f2f2f2;
    background: url("../img/bg-textura.png");
    background-repeat: repeat;
}
@font-face {
	font-family: 'nunito-black';
	src: url('../fonts/Nunito-Black.ttf');
}
@font-face {
	font-family: 'nunito-regular';
	src: url('../fonts/Nunito-Regular.ttf');
}
@font-face {
	font-family: 'nunito-extra-bold';
	src: url('../fonts/Nunito-ExtraBold.ttf');
}
.alto {
	height: 100vh;
	background: $light_brown;
	animation: abrir ease-in-out 1.5s;
}
a {
	text-decoration: none;
	color: $light-purple;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 24px;
	font-family: Arial;
	transition: .5s ease-in-out;
    &:hover {
        color: $purple;
    }
}
.container {
	width: 90%;
	max-width: 1500px;
	margin: 0 auto;
}